<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>CatólicosApp</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="css/signin.css">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

        <link href='https://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

        <link rel="shortcut icon" href="img/CatolicosApp.ico" />

    </head>

    <body>

        <div class="container-fluid center-block center">
            <div class="row center-block">
                 <div class="col-md-1 center-block">.col-md-1</div>
                 <div class="col-md-1 center-block">.col-md-1</div>
                 <div class="col-md-1 center-block">.col-md-1</div>
                 <div class="col-md-1 center-block">.col-md-1</div>
                 <div class="col-md-1 center-block">.col-md-1</div>
                 <div class="col-md-1 center-block">.col-md-1</div>
                 <div class="col-md-1 center-block">.col-md-1</div>
                 <div class="col-md-1 center-block">.col-md-1</div>
                 <div class="col-md-1 center-block">.col-md-1</div>
                 <div class="col-md-1 center-block">.col-md-1</div>
                 <div class="col-md-1 center-block">.col-md-1</div>
                 <div class="col-md-1 center-block">.col-md-1</div>
            </div>

            <div class="row">
                <div class="col-md-8">.col-md-8</div>
                <div class="col-md-4">.col-md-4</div>
            </div>

            <div class="row">
                <div class="col-md-4">.col-md-4</div>
                <div class="col-md-4">.col-md-4</div>
                <div class="col-md-4">.col-md-4</div>
            </div>

            <div class="row">
                <div class="col-md-6">.col-md-6</div>
                <div class="col-md-6">.col-md-6</div>
            </div>
        
        </div>

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>

</html>

